<!DOCTYPE HTML>
<html>
  <head>
    <title>Diner POS</title>
    <!--link(rel='stylesheet', href='/stylesheets/style.css')-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/actions.js" ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a92f00" >
      <a href="/" class="navbar-brand">Diner POS</a>
    </nav>
    {{{ body }}}
  </body>
</html>