<br/>
<p/>
<div style="width: 300px;margin-left: auto; margin-right: auto">
    {{# if errMsg }}
    <div class="alert alert-danger" role="alert">
        {{ errMsg }}
    </div>
    {{/if}}
    {{# if successMsg }}
        <div class="alert alert-success" role="alert">
            {{ successMsg }}
        </div>
    {{/if}}
    <form action="/updatePassword" method="post">
        Old Password
        <br/>
        <input 
            type="password" 
            class="form-control" 
            id="oldPass" 
            name="oldPass"
        />
        New Password
        <br/>
        <input 
            type="password" 
            class="form-control" 
            id="newPass"
            name="newPass"
        />
        Confirm Password
        <br/>
        <input 
            type="password" 
            class="form-control" 
            id="confirmPass"
            name="confirmPass"
        />
        <br/>
        <input type="submit" value="Change Password" class="btn btn-primary" style="float: right; background-color: #0084d2">
    </form>
</div>